<div class="col-md-6">
  <form class="form-horizontal" role="form" ng-submit="MindtaggerTask.addTagToCursor(tagNameToAdd, true)">
    <div class="form-group">
      <label for="add-tag-name" class="col-sm-2 control-label">Tag Name</label>
      <div class="col-sm-10">
        <input type="text" autocomplete="off" class="form-control" id="add-tag-name" ng-model="tagNameToAdd"
          typeahead="tagName for tagName in keys(MindtaggerTask.schema.tags) | filter:$viewValue | limitTo:8">
      </div>
    </div>
  </form>
</div>
<div class="col-md-6">
  <button type="button" class="btn btn-primary" ng-click="MindtaggerTask.addTagToCursor(tagNameToAdd, true)">Add Tag</button>
</div>

<div class="col-md-12">
  <span ng-repeat="(tagName, tagSchema) in MindtaggerTask.schema.tags" ng-if="tag[tagName]">
    <!-- simple tags -->
    <span class="btn-group" ng-if="tagSchema.type == 'simple'">
      <label class="btn btn-default tag-name">{{tagName}}</label>
      <label btn-checkbox btn-checkbox-true="true" btn-checkbox-false="null"
        ng-model="tag[tagName]" ng-click="commit(item,tag)"
        mindtagger-hotkey="{{MindtaggerTask.tagOptions[tagName].shortcutKey}}"
        title="Remove tag '{{tagName}}'"
        class="btn btn-danger">
        <i class="fa fa-remove"></i>
      </label>
    </span> 
  </span>
</div>